body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ol.round {
  list-style-type: none;
  padding-left: 0;
}

ol.round > li {
  margin: 25px 0;
  padding-left: 45px;
}

ol.round > li.one {
  background: url("../Images/orderedList1.png") no-repeat;
}

ol.round > li.two {
  background: url("../Images/orderedList2.png") no-repeat;
}

ol.round > li.three {
  background: url("../Images/orderedList3.png") no-repeat;
}

li > h5 {
    font-size: 14px;
    font-weight: 700;
    padding-top: 7px;
}

ol.round > li > ul {
  list-style: none;
  padding: 0;
}

ol.round > li > ul > li {
  background: url("../Images/bullet.png") no-repeat 0 50%;
  padding: 2px 0 2px 20px;
}