@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to our blog site</h1>
</div>

<div class="row">
    <div class="col-md-12">

        <h3>The following are new requirements for this application:</h3>
        <ol class="round">
            <li class="one">
                <h5>List Posts</h5>
                We want to display all the posts from our database on a page accessible from the
                top navigation menu. The requirements are to display the posts with the newest entry
                first, showing:
                <ul>
                    <li>The title, which should link to the full post</li>
                    <li>The first few lines of the post</li>
                    <li>The date it was created</li>
                    <li>The total number of comments left</li>
                </ul>
            </li>
            <li class="two">
                <h5>View Post</h5>
                We want to be able to view the full post, displaying:
                <ul>
                    <li>The title</li>
                    <li>The full content</li>
                    <li>The date it was created</li>
                    <li>All comments left</li>
                </ul>
            </li>
            <li class="three">
                <h5>Add New Post</h5>
                We need the ability to add new posts to the database. The user is required to supply:
                <ul>
                    <li>The title</li>
                    <li>The content</li>
                </ul>
            </li>
        </ol>
        <p>
            A database, with dummy data, has been supplied but there is no restriction on which technology to use in accessing
            it.
        </p>
        <p>Use coding and security best practices through the project.</p>
        <p>
            Styling the pages is not a major requirement for this project but use any available
            time to improve the look and feel.
        </p>
    </div>
</div>